<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:insert="fragments/head.html">...</div>
</head>
<body>
<div th:insert="navigation/navbarSelector.html">...</div>
<!--New car model-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" th:text="#{new_car_model}">New car model</div>
                <div class="card-body">

                    <!--/*@thymesVar id="carModelDto" type="com.epam.tkach.carrent.util.dto.CarModelDto"*/-->
                    <form class="form-horizontal" method="POST" th:action="@{/carModels/saveCarModel}" th:object="${carModelDto}">

                        <div class="form-group">
                            <input type="number" th:type="hidden" name="id" id="id" th:field="*{id}"/>
                        </div>

                        <div class="form-group">
                            <label for="carClass" class="cols-lg-2 control-label" th:text="#{car_class}">Car class</label>
                            <select class="form-control" th:field="*{carClass}" th:errorclass="fieldError" id="carClass" name="carClass">
                                <option  selected value="" th:text="#{select_general_placeholder}">option</option>

                                <option th:each="option : ${carClasses}" th:value="${option}" th:text="#{${option}}"
                                        th:selected="${option == carModelDto.carClass}" ></option>
                            </select>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('carClass')}"
                                 th:each="e : ${#fields.errors('carClass')}" th:text="#{${e}}" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="carBrand" class="cols-lg-2 control-label" th:text="#{car_brand}">Car brand</label>
                            <select class="form-control" id="carBrand" name="carBrand" th:field="*{carBrand}" th:errorclass="fieldError">
                                <option  selected value=-1 th:text="#{select_general_placeholder}">option</option>
                                <option th:each="option : ${carBrands}" th:value="${option.getId()}" th:text="${option.getCarBrandName()}"></option>
                            </select>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('carBrand')}"
                                 th:each="e : ${#fields.errors('carBrand')}" th:text="#{${e}}" >
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="modelName" class="cols-sm-2 control-label" th:text="#{car_model}">Car model</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="modelName" id="modelName" th:placeholder="#{car_model.placeholder}" th:field="*{modelName}" th:errorclass="fieldError" />
                                </div>
                            </div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('modelName')}"
                                 th:each="e : ${#fields.errors('modelName')}" th:text="#{${e}}" >
                            </div>
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button" th:text="#{add_new_car_model}">
                                Add new car model
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


</form>>
</body>
</html>