<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="fragments/head.html">...</div>
</head>
<body>
<div th:insert="navigation/navbarSelector.html">...</div>
<main class="m-3">
    <div class="row col-md-6">
        <table class="table table-striped table-bordered table-sm">
            <caption style="caption-side: top" th:text="#{navbar.models}">Car brands</caption>
            <thead>
            <tr>
                <th>ID</th>
                <th th:text="#{car_class}">Car class</th>
                <th th:text="#{car_brand}">Car brand</th>
                <th th:text="#{car_model}">Car model</th>
                <th th:text="#{edit}">Edit</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="model : ${carModels.page}">
                    <td th:text="${model.id}">id</td>
                    <td th:text="#{${model.carClass}}">car class</td>
                    <td th:text="${model.getBrand().getCarBrandName()}">title</td>
                    <td th:text="${model.getModelName()}">title</td>
                    <td><a th:href="@{carModel/edit/{id}(id=${model.id})}"th:text="#{edit}"/></td>
                </tr>
            </tbody>
        </table>
        <!--Pagination-->
        <nav aria-label="Page navigation" class="paging">
            <ul class="pagination" th:if="${carModels.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!carModels.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/carModels/list?pageNumber=' + ${carModels.paging.pageNumber - 1}}"
                       tabindex="-1" th:text="#{pagination.previous}">Previous</a>
                </li>
                <th:block th:each="item : ${carModels.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == carModels.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/carModels/list?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!carModels.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{'/carModels/list?pageNumber=' + ${carModels.paging.pageNumber + 1}}" th:text="#{pagination.next}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
</main>
<a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')" id = "add-new-model" href="newCarModel" role="button" th:text="#{add_new_car_model}">Add new car model</a>
</body>
</html>