<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:insert="fragments/head.html">...</div>
</head>
<body>
<div th:insert="navigation/navbarSelector.html">...</div>
<!--Car list form-->
<form action="controller?action=completeSetsList" method="get">
    <main class="m-3">
        <div class="row col-md-6">
            <table class="table table-striped table-bordered table-sm">
                <caption style="caption-side: top" th:text="#{navbar.completeSets}">...</caption>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" th:text="#{car_brand}">Car brand</th>
                    <th scope="col" th:text="#{car_model}">Car model</th>
                    <th scope="col" th:text="#{completeSetName}">Complete set</th>
                    <th scope="col" th:text="#{body_style}">Body style</th>
                    <th scope="col" th:text="#{transmission}">Transmission</th>
                    <th scope="col" th:text="#{fuel_type}">Fuel type</th>
                    <th scope="col" th:text="#{engine}">Engine</th>
                    <th scope="col" th:text="#{edit}">Edit</th>
                </tr>

                <tr th:each="entity : ${entityList.page}">
                        <td th:text="${entity.id}"></td>
                        <td th:text="${entity.getCarModel().getBrand().getCarBrandName()}">...</td>
                        <td th:text="${entity.getCarModel().getModelName()}">...</td>
                        <td th:text="${entity.getName()}">...</td>
                        <td th:text="#{${entity.getBodyStyle()}}">...</td>
                        <td th:text="#{${entity.getTransmission()}}">...</td>
                        <td th:text="#{${entity.getFuelType()}}">...</td>
                        <td th:text="${entity.getEngine()}">...</td>
                        <td><a th:href="@{/completeSet/edit/{id}(id=${entity.id})}"th:text="#{edit}"/></td>
                </tr>
            </table>
        </div>
    </main>
</form>
<!--Pagination-->
<nav aria-label="Page navigation" class="paging">
    <ul class="pagination" th:if="${entityList.page.totalPages > 1}">
        <li class="page-item" th:classappend="${!entityList.paging.isPrevEnabled()? 'disabled' : ''}">
            <a class="page-link" th:href="@{'/completeSets/list?pageNumber=' + ${entityList.paging.pageNumber - 1}}"
               tabindex="-1" th:text="#{pagination.previous}">Previous</a>
        </li>
        <th:block th:each="item : ${entityList.paging.getItems()}">
            <li class="page-item" th:classappend="${item.index == entityList.paging.pageNumber? 'active' : ''}"
                th:if="${item.pageItemType.name() == 'PAGE'}">
                <a class="page-link" th:href="@{'/completeSets/list?pageNumber=' + ${item.index}}"
                   th:text="${item.index}"></a>
            </li>
            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                <a class="page-link" href="#">...</a>
            </li>
        </th:block>
        <li class="page-item" th:classappend="${!entityList.paging.isNextEnabled()? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{'/completeSets/list?pageNumber=' + ${entityList.paging.pageNumber + 1}}" th:text="#{pagination.next}">Next</a>
        </li>
    </ul>
</nav>
<a class="btn btn-primary" id = "add_new" href="newCompleteSet" role="button" th:text="#{add_complete_set}">Add new completeset</a>
</body>
</html>