<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./">
            <img  th:src="@{/img/logo.png}" src="" width="40" height="40" class="d-inline-block align-top" alt="" th:text="#{title}">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCars" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:text="#{navbar.cars}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/carBrands/list}" th:text="#{navbar.brands}">1</a>
                        <a class="dropdown-item" th:href="@{/carModels/list}" th:text="#{navbar.models}">2</a>
                        <a class="dropdown-item" th:href="@{/completeSets/list}" th:text="#{navbar.completeSets}">3</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/cars/list}" th:text="#{navbar.company_cars}">4</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/list}" th:text="#{navbar.users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tariff/list}" th:text="#{navbar.tariffs}">tariffs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/myProfile}" th:text="#{navbar.my_profile}">my profile</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">
                        language
                    </i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form class="form-inline" method="post" action="controller?action=i18n">
                        <button type="submit" name="ua" class="dropdown-item">Ukrainian</button>
                        <button type="submit" name="en" class="dropdown-item">English</button>
                    </form>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{navbar.logout}">
                    log out
                </button>
            </form>
        </div>
    </nav>
</body>
</html>